body {
    margin: 0;
    padding: 0;
}

body, html {
    box-sizing: border-box;
    width: 100%;
}

.client {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 40px auto;
    grid-template-columns: auto;
    grid-template-areas: 'top_nav_bar' 'workspace_container';
}

.top_nav_bar {
    background-color: #000000;
}

.workspace_container {
    display: grid;
    position: relative;
    grid-template-areas:'workspace_left_bar workspace_main workspace_right_bar';
    grid-template-columns: 250px auto 350px;
}

.workspace_left_bar {
    display: grid;
    grid-template-areas: 'left_bar_head' 'left_bar_body';
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    grid-area: workspace_left_bar;
    position: relative;
    background-color: #7a0000;
}

.resizer {
    background-color: transparent;
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 8px;
    bottom: 0;
    cursor: col-resize;
}

.left_bar_head {
    grid-area: left_bar_head;
    background-color: #520000;
    position: relative;
}
    
.workspace_right_bar {
    display: grid;
    grid-template-areas: 'right_bar_head' 'right_bar_body' 'right_bar_foot';
    grid-template-columns: auto;
    grid-template-rows: 80px auto 150px;
    grid-area: workspace_right_bar;
    position: relative;
    background-color: #ff0000;
}

.right_bar_head {
    grid-area: right_bar_head;
    background-color: #960000;
    position: relative;
}

.right_bar_foot {
    grid-area: right_bar_foot;
    background-color: #960000;
    position: relative;
}
  
.workspace_main {
    display: grid;
    grid-template-areas: 'workspace_main_head' 'workspace_main_body' 'workspace_main_foot';
    grid-template-columns: auto;
    grid-template-rows: 80px auto 150px;
    grid-area: workspace_main;
    grid-column: auto;
    width: auto;
    left: 0px;
    position: relative;
    background-color: #ffffff;
}

.workspace_main_head {
    grid-area: workspace_main_head;
    background-color: #bbbbbb;
    position: relative;
}

.workspace_main_foot {
    grid-area: workspace_main_foot;
    background-color: #bbbbbb;
    position: relative;
}